{% extends "portfolio/base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                    Eagle Financial Services: New User Registration Successfully completed.
                    </div>
                </div>
            </div>
    </div>

</div>
    <br>
    <h1>Registration Completed Successfully</h1>
    <br>
    Thank you for registering. Please login to proceed !!!
    <a href="/accounts/login/" style="font-size: x-large; color: cornflowerblue">Login</a>
{% endblock %}